/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu{
      display: block;
      margin: 0px;
  }
  ul.dropdown-menu{
      margin: 0px;
  }

  .navbar .nav > li > .dropdown-menu:after {
    content: none;
  }

  .navbar .nav > li > .dropdown-menu:before {
    content: none;
  }
}
textarea.input-large {
  width:193px;
}

.upload_box {
  border:2px
  dashed #bbb;
  -moz-broder-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom:10px;
  text-align:center;
  color:#bbb;
}