# Keys
STEAM_API_KEY = 'API_KEY'
SECRET_KEY = 'SOME_RANDOM_STUFF'

# Addresses/Locations
ADDRESS = '127.0.0.1'
# SQLite:
SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/test.db'
# MySQL:
# SQLALCHEMY_DATABASE_URI = 'mysql://user:password@localhost/dbname'

# App Config
TITLE = 'Server Manager'
DEBUG = False
DEMO_DOWNLOAD_DIR = '/demo_storage'
DEMO_STORAGE_DIR = '/var/www/html/tf2files/demo_storage'
DEMO_PUBLIC = False
DEMO_PER_PAGE = 12