{% extends "layout-narrow.html" %}
{% block main %}
<h2 class="ui header">Add a User</h2>
<form action="{{ url_for('add_user') }}" method="POST">
  <div class="ui form segment">
    <div class="field">
      <label></i>Name</label>
      <div class="ui left labeled icon input">
        <input type="text" id="name" name="name" placeholder="FernFerret" value="{{ values.get('name', '') }}">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <label><i class="help icon link" data-position="left center" data-content="Put Help Here."></i>Steam Profile ID</label>
      <div class="ui left labeled icon input">
        <input type="text" id="steamid" name="steamid" placeholder="01234567890123456" value="{{ values.get('steamid', '') }}" />
        <i class="user icon"></i>
      </div>
    </div>
     <div class="ui message">This should be a number, found after the person's profile:
          <br /><a href="http://steamcommunity.com/profiles/01234567890123456">http://steamcommunity.com/profiles/<b>01234567890123456</b></a><br />
          If you can't find it, use this: <a href="http://steamidconverter.com/">http://steamidconverter.com</a>. I'll have it accepting all these values sometime...</div>
    <div class="field">
      <div class="ui checkbox">
        <input {% if values.get('admin', None) %}checked {% endif %}type="checkbox" id="admin" name="admin">
        <label for="admin">Admin</label>
      </div>
    </div>
    <button type="submit" class="ui button positive">Add User</button>
  </div>
</form>
{% endblock %}
