{% extends "layout-wide.html" %}
{% block main %}
{% macro render_pagination(pagination) %}
  {% if not pagination.items %}
    <div class="ui grid">
      <div class="twelve wide column">
        <div class="ui center aligned huge icon message">
          <i class="inbox icon"></i>
          <div class="content">
            <div class="header">
              No Demos.
            </div>
            {% if g.user.id %}
              Perhaps you would like to <a href="{{ url_for('import_demo') }}">import one</a>?
            {% else %}
              Check back later!
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="ui items">
      {% for demo in pagination.items %}
        <div id="demo{{ demo.id }}" class="item">
          <div class="image">
            {% if demo.logfile %}
              <a class="ui right blue corner label" target="_blank" href="http://www.logs.tf/{{ demo.logfile }}">
                <i class="users icon"></i>
              </a>
            {% endif %}
            <img style="width: 300px; height:188px" src="{{ url_for('static', filename='img/maps/%s.png' % demo.name) }}" />
          </div>
          <div class="content">

              <div class="name"><a href="{{ url_for('view_demo', demo=demo.id) }}">{% if demo.title %}{{ demo.title }}{% else %}{{ demo.name }}{% endif %}</a></div>

            <p class="description">{{ demo.get_map_name()[0].upper() }}</p>
            <div class="extra" style="text-align: right;">
              {{ demo.good_date() }} <i class="icon calendar"></i>
            </div>
          </div>
          <a href="{{ url_for('view_demo', demo=demo.id) }}">
            {% if demo.sub %}
            <div class="pull-left visible-desktop"><small><i class="icon-group"></i> {{ demo.sub }}</small></div>
            {% endif %}
            <div style="margin-right:-10px;" class="pull-right hidden-phone"><small></i></small></div></a>
        </div>
      {% endfor %}
    </div>
  <div class="ui basic segment" style="text-align:center;">
    <div class="ui borderless pagination menu">
      {% if pagination.has_prev %}
        <a href="{{ url_for('demopage', page=pagination.prev_num) }}" class="item"><i class="icon left arrow"></i></a>
      {% else %}
        <a class="disabled item"><i class="icon left arrow"></i></a>
      {% endif %}

      {%- for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <a class="item" href="{{ url_for('demopage', page=page) }}">{{ page }}</a>
          {% else %}
            <a class="active blue item" href="#">{{ page }}</a>
          {% endif %}
        {% endif %}
      {%- endfor %}

      {% if pagination.has_next %}
        <a href="{{ url_for('demopage', page=pagination.next_num) }}" class="item"><i class="icon right arrow"></i></a>
      {% else %}
        <a class="disabled item"><i class="icon right arrow"></i></a>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endmacro %}
{{ render_pagination(demos) }}
{% endblock main %}
{% block javascript %}
	<!--<script src="{{ url_for('static', filename='js/editdemo.js') }}"></script>-->
{% endblock %}
