{% if session.user_admin %}
  {% extends "layout-two-col.html" %}
  {% block left %}
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">
          Manage Demos
      </li>
      <li {% if request.path == url_for('index') %}class="active"{% endif %}>
        <a href="{{ url_for('index') }}">
          <i class="icon-th {% if request.path == url_for('index') %}icon-white{% endif %}"></i>
          Demos
        </a>
      </li>
      <li {% if request.path == url_for('add_demo') %}class="active"{% endif %}>
        <a href="{{ url_for('add_demo') }}">
          <i class="icon-plus-sign icon-black {% if request.path == url_for('add_demo') %}icon-white{% endif %}"></i>
          Add Demo
        </a>
      </li>
    </ul>
  </div>
  {% endblock left %}
{% else %}
  {% extends "layout-fixed.html" %}
{% endif %}
{% block main %}
<div class="jumbotron">
  <h2>{{ config.get('TITLE', 'Server Manager') }}</h2>
</div>
{% macro render_pagination(pagination) %}
  <div class="row-fluid">
    {% for demo in pagination.items %}
    <div class="span3" style="text-align:center">
      <h4>{{ demo.map_date }}</h4>
      <a href="{{ demo.demo_path }}">
        <img src="{{ url_for('static', filename='img/maps/pl_badwater.png') }}" />
        <br />
        {{ demo.map_name}}
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="pagination pagination-centered">
    <ul>
      {% if pagination.has_prev %}
        <li><a href="#">{{ page - 1 }}</a></li>
      {% else %}
        <li class="disabled"><a href="#">«</a></li>
      {% endif %}
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          
          {% if page != pagination.page %}
            <li><a href="{{ url_for('demopage', page=page) }}">{{ page }}</a></li>
          {% else %}
            <li class="active"><a href="#">{{ page }}</a></li>
          {% endif %}
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
        <li><a href="#">{{ page + 1 }}</a></li>
      {% else %}
        <li class="disabled"><a href="#">»</a></li>
      {% endif %}
    </ul>
  </div>
{% endmacro %}
{{ render_pagination(demos) }}

{% endblock main %}