<!-- ><form class="form-horizontal" action="{{ url_for('edit_demo', demo=demo.id) }}" method="POST">
  <fieldset>
    <legend><h3>Modify Demo #{{ demo.id }}</h3></legend>
    <div class="control-group  {% if 'name' in errors %}error{% endif %}">
      <label class="control-label" for="demo_name">Demo File</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="demo_name" name="demo_name" placeholder="auto-19880905-XXXX-cp_gravelpit.dem" value="{{ values.get('name', '') }}"/>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Add Demo</button>
    </div>
  </fieldset>
</form> -->

<div class="container">
  <h3>Editing demo played on {{ demo.map_date }}</h3>
  <div class="row-fluid">
    <div class="span3">
      <img class="img-rounded" src="{{ url_for('static', filename='img/maps/%s.png' % demo.map_name) }}" />
      
    </div>
    <div class="span3">
      <h4><a href="#" id="title">{{ demo.title }}</a></h4>
      <p><a href="#" id="summary">{{ demo.summary }}</a></p>
    </div>
  </div>
</div>
<a style="text-decoration:none;" class="close-reveal-modal" onclick="$('#myModal').trigger('reveal:close');">&#215;</a>
<script type="text/javascript">
//$.fn.editable.defaults.mode = 'inline';
$.fn.editable.defaults.placement = 'right';
$('#title').editable({
                           type:  'text',
                           pk:    {{ demo.id }},
                           name:  'title',
                           url:   '/demos/field/{{ demo.id }}',  
                           title: 'Enter the title of this match'
                        });
$('#summary').editable({
                           type:  'textarea',
                           pk:    {{ demo.id }},
                           name:  'summary',
                           url:   '/demos/field/{{ demo.id }}',  
                           title: 'Enter a brief summary',
                           rows: 7
                        });
</script>
