<!DOCTYPE html>
{% set title = config.get('TITLE', 'Demo Browser') %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/demobrowser.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='semantic/css/semantic.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css"> -->
    <link href="{{ url_for('static', filename='font/open_sans.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body class="segment">
    <div class="ui inverted tiered menu">
      <div class="right menu">
        {% if session.user_id %}
          <a class="item" href="{{ url_for('logout') }}"><i class="off icon"></i><!-- <img src="{{ session.avatar }}" /> -->Logout</a>
        {% else %}
          <a class="item" href="{{ url_for('login') }}"><!-- <img src="{{ url_for('static', filename='img/sits_small.png') }}" alt="Login through Steam" /> -->Login with Steam</a>
          {% if config.get('TEST', False) %}
            <a class="item" href="{{ url_for('test_login') }}">Sign in as Admin</a>
          {% endif %}
        {% endif %}
      </div>
      {% if session.user_admin %}
        <a class="item{% if request.endpoint in ['demopage', 'view_demo', 'index', 'import_demo', 'upload_demo'] %} active{% endif %}" href="{{ url_for('index') }}"><i class="block layout icon"></i>Demos</a>
        <a class="item{% if request.endpoint in ['users', 'add_user'] %} active{% endif %}" href="{{ url_for('users') }}"><i class="users icon"></i>Users</a>
        <a class="item{% if request.endpoint in ['settings'] %} active{% endif %}" href="{{ url_for('settings') }}"><i class="settings icon"></i>Settings</a>
        {% if request.endpoint in ['users', 'add_user'] %}
          <div class="ui sub menu">
            <a href="{{ url_for('add_user') }}" class="item{% if request.endpoint in ['add_user'] %} active{% endif %}"><i class="add icon"></i>Add</a>
          </div>
        {% endif %}
        {% if request.endpoint in ['demopage', 'view_demo', 'index', 'import_demo', 'upload_demo'] %}
          <div class="ui sub menu">
            <a href="{{ url_for('import_demo') }}" class="item{% if request.endpoint in ['import_demo'] %} active{% endif %}"><i class="add icon"></i>Import</a>
            <a href="{{ url_for('upload_demo') }}" class="item{% if request.endpoint in ['upload_demo'] %} active{% endif %}"><i class="cloud upload icon"></i>Upload</a>
          </div>
        {% endif %}
      {% else %}
        <a class="item active" href="{{ url_for('index') }}"><i class="block layout icon"></i>Demos</a>
      {% endif %}
    </div>
    <div class="segment">
      <div id="globalmsgs">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for cat, message in messages %}
              <div class="ui message hidden left aligned db_message {{ cat }}">
                {{ message|safe }}
                <i class="close icon"></i>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      {% block container %}{% endblock %}
      <div class="ui divider"></div>
      <footer>
        <center><p>Version {{ config.get('VERSION', '0.1') }}<br />Powered by <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://www.semantic-ui.com/">Semantic UI</a> &amp; <a href="http://steampowered.com">Steam</a></p></center>
      </footer>
    </div>
    <!-- <script src="{{ url_for('static', filename='js/jquery-1.9.0.min.js') }}"></script> -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic/javascript/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
    <script>
    $( document ).ready(function() {
      $(".db_message").transition("fade up");
      $(".db_message")
    });
    $(".icon.close").on({
      click: function() {
        $( this ).parent().transition("fade");
      }
    });
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>

