{% extends "layout-two-col.html" %}

{% block main %}
<form class="form-horizontal" action="{{ url_for('settings') }}" method="POST">
  <fieldset>
    <legend><h3>Modify System Settings</h3></legend>
    <div class="alert">
      <strong>Warning!</strong> Changing these settings can break things!
    </div>
    <div class="control-group">
      <label class="control-label" for="title">Title:</label>
      <div class="controls">
        <input type="text" class="span8" id="title" name="title" placeholder="Sexy Server Manager" value="{{ config.get('TITLE', '') }}" />
        <p></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="upload">Upload Directory:</label>
      <div class="controls">
        <input type="text" class="span8" id="upload" name="upload" placeholder="/var/uploads/demos" value="{{ config.get('DEMO_UPLOAD_DIR', '') }}" />
        <p></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inbox">Dropbox Directory:</label>
      <div class="controls">
        <input type="text" class="span8" id="inbox" name="inbox" placeholder="/var/uploads/demos/inbox" value="{{ config.get('DEMO_DROPBOX_DIR', '') }}" />
        <p></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="perpage">Demos per Page:</label>
      <div class="controls">
        <input type="text" class="span8" id="perpage" name="perpage" placeholder="12" value="{{ config.get('DEMO_PER_PAGE', 12) }}" />
        <p>Probably best to keep this divisible by four.</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="public">Public Demos:</label>
      <div class="controls">
        <input {% if config.get('DEMO_PUBLIC', False) %}checked="checked" {% endif %}type="checkbox" id="public" name="public">
        <p>If enabled, anyone can see your demos without logging in. If not, you'll have to add each Steam ID yourself.</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="debug">Debug:</label>
      <div class="controls">
        <input {% if config.get('DEBUG', False) %}checked="checked" {% endif %}type="checkbox" id="debug" name="debug">
        <p>Turn Debug mode on/off. If debug mode is on, you'll see full stack traces for pages. Disable this for production systems.</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cleardb">Clear the Database:</label>
      <div class="controls">
        <input type="checkbox" id="cleardb" name="cleardb">
        <p>CLEARS the database. I'll probably delete this later. ONLY for testing.</p>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Save Settings</button>
      <a href="{{ url_for('index') }}" class="btn">Cancel</a>
    </div>
  </fieldset>
</form>
{% endblock main %}
