{% extends "demos.html" %}
{% block main %}
<form class="form-horizontal" action="{{ url_for('upload_demo') }}" method="POST" enctype="multipart/form-data">
  <fieldset>
    <legend><h3>Add a Demo</h3></legend>
    <div class="control-group  {% if 'name' in errors %}error{% endif %}">
      <label class="control-label" for="Íname">Demo File</label>
      <div class="controls">
        <input type="file" class="input-xlarge" id="demo_file" name="demo_file" placeholder="auto-19880905-XXXX-cp_gravelpit.dem" value="{{ values.get('name', '') }}"/>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Upload Demo</button>
    </div>
  </fieldset>
</form>
{% endblock %}
