{% extends "layout-narrow.html" %}
{% block main %}
<h3 class="ui header">Upload a Demo</h3>
<form action="{{ url_for('upload_demo') }}" method="POST" enctype="multipart/form-data">
  <div class="ui info message">
    <div class="header">About Demo Uploads</div>
    <p>The filename of the demo is used to determine the <strong>map</strong> and <strong>date</strong>. The accepted syntax is the same as your Team Fortress 2 server creates the demos. If you keep getting an error, see the <a href="{{ url_for('static', filename='img/anatomy_demo_file.png')}}">anatomy of a demo filename</a> for more info!</p>
  </div>
  <div style="display: none;" id="demo_progress_ctr" class="ui blue active progress">
    <div id="demo_progress" class="bar" style="width:40%"></div>
  </div>
  <div id="drop_zone_demo" class="ui center aligned segment" style="padding-top: 4em; padding-bottom: 4em;">
    <h2>Drop <span style="color:#FF8540;">demo</span> file here!</h2>
  </div>
</form>
{% endblock %}
{% block javascript %}
<script>
  var progress = document.getElementById('demo_progress');
  var demoFile;

  function sendFile(file) {
    progress.style.width = '0%';
    $('#demo_progress_ctr').removeClass("successful").addClass("active").show();
    var uri = "{{ url_for('upload_demo', async=True) }}";
    var xhr = new XMLHttpRequest();
    var fd = new FormData();

    xhr.open("POST", uri, true);
    xhr.upload.addEventListener("progress", function(e) {
    		  var pc = parseInt((e.loaded / e.total * 100));
    		  progress.style.width = pc + "%";
        }, false);
    xhr.onreadystatechange = function() {
      // console.log(xhr);
      if (xhr.readyState == 4) {
        progress.style.width = "100%";
        $('#demo_progress_ctr').addClass("successful").removeClass("active");
        setTimeout("$('#demo_progress_ctr').fadeOut();", 2000);
        if (xhr.status == 200) {
          var obj = JSON.parse(xhr.responseText);
          console.log(obj);
          // Handle response.
          if (obj.success) {
            //var msg = '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>' + obj.msg + '</div>';
            var msg = '<div id="alert" class="ui ' + obj.cat + ' message hidden "><i id="alert-close" class="close icon"></i><div class="header">' + obj.title + '</div><p>' + obj.msg + '</p></div>';
            $(msg).appendTo("#globalmsgs").transition("scale");
          } else {
            //var msg = '<div class="alert alert-' + obj.cat + '"><a class="close" data-dismiss="alert">×</a>' + obj.msg + '</div>';
            var msg = '<div id="alert" class="ui ' + obj.cat + ' message hidden "><i id="alert-close" class="close icon"></i><div class="header">' + obj.title + '</div><p>' + obj.msg + '</p></div>';
            $(msg).appendTo("#globalmsgs").transition("scale");
          }
        }
      }
    }
    fd.append('async', 1);
    fd.append('demo_file', file);
    // Initiate a multipart/form-data upload
    xhr.send(fd);
  }

  function handleFileSelectDemo(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    $("#drop_zone_demo").removeClass("inverted");
    $("#globalmsgs").children().each(function() {
      $(this).remove();
    });

    demoFile = evt.dataTransfer.files[0]; // FileList object.

    // files is a FileList of File objects. List some properties.
    var output = [];
    var fn = escape(demoFile.name);
    var name_match = fn.match(/^auto-([0-9]{8})-.*-(.*)\.dem$/);
    if (name_match == null) {
      output.push('<h3 style="color:#BE2F33;"><i class="icon-file-alt icon"></i> ', escape(demoFile.name), '</h3>',
                  '<h4 style="color:#000;">Oops!<br />That file didn\'t match the format I expected for a demo file:</h4>',
                  '<h4>auto<span style="color:#000;">-</span><span style="color:#8dc63f;">20130119</span>',
                  '<span style="color:#000;">-</span><span style="color:#f26c4f;">2034</span>',
                  '<span style="color:#000;">-</span><span style="color:#448ccb">',
                  'cp_dustbowl</span><span style="color:#a864a8">.dem</span><h4>',
                  '<h4 style="color:#000;">If you\'re <span style="color:#2D9B27;">sure</span>',
                  ' this is your demo file,<br />rename it and drag here again!</h4>',
                  '<a id="undo_demo" class="ui primary red button" href="#">Clear Invalid File</a>');
    } else {
      output.push('<h3 id="demo_name" style="color:#2D9B27;"><i class="icon-file-alt icon"></i> ', escape(demoFile.name), '</h3>',
                  '<a id="undo_demo" class="ui primary blue button" href="#">Clear Demo File</a>');
      $.post("{{ url_for('check_filename') }}", { filename: fn },
        function(data){
          obj = JSON.parse(data);
          if (obj.success) {
            sendFile(demoFile);
          } else {
            $("#demo_name").css('color', '#FFAA00');
            var msg = '<div id="alert" class="ui ' + obj.cat + ' message hidden "><i id="alert-close" class="close icon"></i><div class="header">' + obj.title + '</div><p>' + obj.msg + '</p></div>';
            $(msg).appendTo("#globalmsgs").transition("scale");
            $('#alert-close').click(function () { $(this).parent().transition("scale"); $this });
            console.log(data);
          }
        });

    }

    document.getElementById('drop_zone_demo').innerHTML = output.join('');
  }

  $(document).on("click", "#undo_demo", function () {
    $("#drop_zone_demo").html("<h2>Drop <span style=\"color:#FF8540;\">demo</span> file here!</h2>");
  });

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    $("#drop_zone_demo").addClass("inverted");
    console.log("starting");
    console.log(evt);
  }

  function handleDragLeave(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    $("#drop_zone_demo").removeClass("inverted");
    evt.dataTransfer.dropEffect = 'none';
    console.log("leaving");
    console.log(evt);
  }

  // Setup the dnd listeners.
  var dropZoneDemo = document.getElementById('drop_zone_demo');
  dropZoneDemo.addEventListener('dragover', handleDragOver, false);
  dropZoneDemo.addEventListener('dragleave', handleDragLeave, false);
  dropZoneDemo.addEventListener('drop', handleFileSelectDemo, false);

</script>
{% endblock %}
