{% extends "layout-fixed.html" %}
{% block main %}
  {% set fullpage = True %}
  <div class="row">
    <div class="span1">
      <p class="text-center" style="margin-top:200px;"><a href="#"><i class="icon-angle-left icon-4x"></i></a></p>
    </div>
    <div class="span10">
      <div class="hero-unit">
        {% include "view_demo_raw.html" %}
      </div>
    </div>
    <div class="span1">
      <p style="margin-top:200px;"><a href="#"><i class="icon-angle-left icon-4x"></i></a></p>
    </div>
  </div>
{% endblock main %}
