{% extends "layout-fixed.html" %}
{% block main %}
  {% set fullpage = True %}
  <div class="row">
    <div class="span8 offset2">
      <div class="hero-unit">
        {% include "view_demo_raw.html" %}
      </div>
    </div>
  </div>
  <div class="pagination pagination-centered">
    <ul>
      {% if pages.has_prev %}
        <li><a href="{{ url_for('view_demo', demo=demo.id) }}"><i class="icon-angle-left"></i></a></li>
      {% else %}
        <li class="disabled"><a href="#"><i class="icon-angle-left"></i></a></li>
      {% endif %}
      {% if pages.has_next %}
        <li><a href="{{ url_for('view_demo', demo=demo.id) }}"><i class="icon-angle-right"></i></a></li>
      {% else %}
        <li class="disabled"><a href="#"><i class="icon-angle-right"></i></a></li>
      {% endif %}
    </ul>
  </div>
{% endblock main %}
