<div class="ui large attached message">
  <div class="header">
    {% if session.user_admin %}
      <a href="#" id="title">
    {% endif %}
    {% if demo.title %}
      {{ demo.title }}
    {% else %}
      {{ demo.name }}
    {% endif %}
    {% if session.user_admin %}
      </a>
    {% endif %}
  </div>
  {% if demo.sub or session.user_admin %}
    <p><i class="icon users"></i> {% if session.user_admin %}<a href="#" id="sub">{% endif %}{{ demo.sub }}{% if session.user_admin %}</a>{% endif %}</p>
  {% endif %}
</div>
<div style="padding-right: 0;" class="ui blue attached segment">
  <div class="ui two column divided grid">
    <div class="column">
      <h3 class="ui header"><i class="book icon"></i>Description</h3>
      {% if session.user_admin %}
        <a href="#" id="summary">{{ demo.summary|safe }}</a>
      {% else %}
        {{ demo.summary|safe }}
      {% endif %}
      {% if demo.logfile or session.user_admin %}
        <h3 class="ui header"><i class="bar chart icon"></i>Summary</h3>
        {% if session.user_admin %}
          <p>Log ID: <a href="#" id="logfile">{{ demo.logfile }}</a> (Click this link to edit it)</p>
        {% endif %}
        <p>
          <a target="_blank" href="http://www.logs.tf/{{ demo.logfile }}">logs.tf/{{ demo.logfile }}</a>
        </p>
      {% endif %}
      <h3 class="ui header"><i class="icon url"></i>Permalink</h3>
      <p><a title="{{ demo.title }}" href="{{ url_for('view_demo', demo=demo.id) }}">{{ url_for('view_demo', demo=demo.id, _external=True) }}</a></p>
    </div>
    <div class="column">
      <div class="ui basic center aligned segment">
        <img style="display:inline-block;" class="rounded ui image" src="{{ url_for('static', filename='img/maps/%s.png' % demo.name) }}" />
        <h4 class="ui header">Map: <a title="Learn about {{ demo.name }} on the Team Fortress 2 wiki!" target="_blank" href="http://wiki.teamfortress.com/w/index.php?title={{ demo.name }}&amp;redirect=yes">{{ demo.name }}</a><br /><small>on {{ demo.good_date() }}</small></h4>
      </div>
    </div>
  </div>
</div>
<div class="ui bottom attached message statistic">
  <a class="ui button labeled icon positive" href="{{ config.get('DEMO_DOWNLOAD_DIR', '')  }}/{{ demo.path }}"><i class="icon download"></i>Download this demo!</a>
  {% if session.user_admin %}
    <a href="#" data-toggle="tooltip" title="Set this demo file as 'bad'." class="ui button labeled icon orange" ><i class='icon ban circle'></i>Nuke Demo</a>
    {% set delete_script = 'deleteDemoRedirect(%s, "#myModal", "%s", "%s");' % (demo.id, url_for('delete_demo'), url_for('index')) %}
    <a id="deletedemo" href="#" class="ui button labeled icon negative"><i class="icon remove"></i>Remove Demo</a>
  {% endif %}
</div>